.App {
  text-align: center;
}
#Navi {
  /* background-color: #342435; */
  /* background: none; */
  background-color: #25baa6;
}
#navimage {
  width: 150px;
  height: 100px;
}
#navbutton {
  background-Color: #97f4e5;
  color: #342435;
  font-Size: 16px;
  height: 50px;
  width: 120px;
}

#main {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 100px;
}
#landingright {
  position: absolute;
  margin-left: 55%;
  width: 40%;
  margin-top: 180px;
  height: 600px;
}
#landingleft {
  margin-top: 120px;
  position: absolute;
  width: 50%;
  height: 600px;
  text-align: center;
  font-size: x-large;
}
#lright {
  
  width: 100%;
}

#landtext {
  animation: type 5s steps(22);
  overflow: hidden;
  white-space: nowrap;
  color: blue;
  
}
#aboutleft {
  position: absolute;
  
  width: 50%;
  margin-top: 1000px;

  height: 600px;
}
#labout {
  width: 50%;
}
#aboutright {
  margin-left: 55%;
  position: absolute;
  width: 45%;
  height: 600px;
  text-align: center;
  font-size: x-large;
  margin-top: 900px;

}
#about {
  width: 100%;
}
#abhed {
  text-align: center;
  color: #97f4e5;
}
#services {
  background-color: #312928;
  width: 100%;
  height: 800px;
  position: absolute;
  margin-top: 1800px;
  font-size: x-large;
}
#servhead {
  text-align: center;
  color: #97f4e5;
}
#leftserv {
  position: absolute;
  margin-top: 70px;
  background-color: #97f4e5;
  width: 400px;
  height: 450px;
  margin-left: 100px;
  text-align: center;
}

#middleserv {
  position: absolute;
  margin-top: 70px;
  margin-left: 590px;
  background-color: #97f4e5;
  width: 400px;
  height: 450px;
  text-align: center;
}
#rightserv {
  position: absolute;
  margin-top: 70px;
  margin-left: 1080px;
  background-color: #97f4e5;
  width: 400px;
  height: 450px;
  text-align: center;
}
#servimages {
  width: 300px;
  height: 300px;
  padding: 15px;
}
#servtitle {
  text-align: center;
  color: #342435;
}
#footerimg{
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 2600px;
}
#workimage {
  width: 100%;
  height: 100%;
  position: absolute;
}